<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>アーティスト</th>
      <th>ジャンル</th>
    </tr>
  </thead>

  <tbody>
  
    <tr>
      <td><div id="titleId" style="font-size:17px; font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;"></div></td>
      <td><div id="artistId" style="font-size:17px; font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;"></div></td>
      <td><div id="genereId" style="font-size:17px; font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;"></div></td>
    </tr>
  
  </tbody>
</table>