<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>アーティスト</th>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody id='iTunes-result' style="font-size:17px; font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;">
  </tbody>
</table>